body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin: 20%;
}

/* H1 title 
*/
h1{
   background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
#title{
    text-align: center;
    text-shadow: 5px 5px 10px #3f87a6;
    font-size: 7vh;
}
img{
    display:inline-block;
    width:100%;
    
}

#caption{
    font-size: 17px;
    font-family: inherit;
}

#tribute-data{
    
            box-shadow: 20px 20px 20px #3f87a6, #f69d3c;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
}