body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin: 20%;
    margin-top:1%;
    margin-bottom:1%
}

/* H1 title 
*/
h1{
   background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
#title{
    text-align: center;
    text-shadow: 5px 5px 10px #3f87a6;
    font-size: 7vh;
}
img{
    width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
}

#caption{
    font-size: 17px;
    font-family: inherit;
    font-style: italic;
}

#tribute-data{
    
            box-shadow: 20px 20px 20px #3f87a6, #f69d3c;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
}
ul{
    background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

}
li{
    background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-weight:medium;
}
  
